
body {
    margin: 0;
    background-color: wheat;
}

.container {
    background-color: wheat;

}

.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome h1 {
    font-size: 7vh;
    font-family: "Benton Sans";
    font-style: normal;
}

.welcome h2 {
    float: left;
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
}